@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

@font-face {
	font-family: Stay Dreaming;
	src: url('../fonts/Stay\ Dreaming\ Regular.ttf');
}
:root {
	--deg: 45deg;
}
html,
body,
#root,
.App {
	height: 100%;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.App {
	text-align: center;
	background: #45b8ed;
	background: radial-gradient(circle, rgb(97, 173, 244) 0%, rgb(30, 63, 113) 100%);
}
.content {
	height: 100%;
	overflow: hidden;
}